#product-custom-dots{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-column-gap: 5px;
  }
  #product-custom-dots .owl-dot{
    cursor: pointer;
    border: 2px solid #0175ce;;
  }
  #product-custom-dots .owl-dot.active{
    border: 2px solid #e67718;
  }
  .box-image{
    overflow: hidden;
  }
  .box-image img{
    transition: 0.75s ease;
  }
  .box-image img:hover{
    transform: scale(1.2);
  }

 

  .ten-sp {
      color: red;
  }

  .gachchan {
    width: 30px;
    background-color: #000000;
    opacity: .1;
    margin: 15px 0 15px;
    height: 3px;
  }
  .gachchan2 {
    width: 150px;
    background-color: #000000;
    opacity: .1;
    margin: 15px 0 15px;
    height: 3px;
  }
  .noidung {
    font-family: inherit;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  .product_meta span {
    display: block;
    border-top: 1px dotted #DDD;
    padding: 7px 0;
    font-size: 100%;
  }

  .product_meta a {
    color: #627f9a;
    text-decoration: none;
  }

  .tensp a{
    text-decoration: none;
    color: #627f9a;
  } 