
#tuyeDung .col-left .list-group-item{
    padding-left: 0;
}
#tuyeDung .job-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
}

#tuyeDung .job-title a {
    color: #000;
   /* text-decoration: none;*/

}

#tuyeDung .job-position {
    color: #787878;
    margin-bottom: 10px;
}

#tuyeDung .job-bottom > .row {
    margin-left: -10px;
    margin-right: -10px;
}

#tuyeDung .panel-heading {
    background: #282;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#tuyeDung .panel-title {
    color: #e4f8e4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}


#tuyeDung .panel-body  img {
	width: 122px;
	height: 81px;
}

#tuyeDung .panel-body .list-group-item {
	padding-left: 0;
	border: none;
}

#tuyeDung .news-title-1 a {
	color: #000;
	font-size: 14px;

}

#tuyeDung .news-title-1 p{
	font-size: 13px;
	color: grey;
}

#tuyeDung .news-title-2 a {
    color: green;
    font-size: 14px;

}


